<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>CodeKul - Angular</h3>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>1.Interpolation data binding</h3> 
     <div >
       Component Name = {{componentName}}
     </div>
     <div>
       Two + 2 = {{addition()}}
     </div>
     <div>
       Condition Statement ={{addition() < 1 ? "Okayy" : "Good"}}
       <!--Only use ternary operator-->
       <!--We cant use here other statement like for, while , if loops-->
     </div>
      <hr>
    </div>
  </div>

</div>
