<!--The content below is only a placeholder and can be replaced.-->
<!--Bootstrap Testing header bar and buttons-->
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Angular</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
</nav>
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-success">Success</button>

<!--<div>
  <app-web></app-web>
</div>-->

<!--//data binding-->
 <div class="container">
   <div class="row">
     <div class="col-md-12">
       <app-databinding></app-databinding>
     </div>
   </div>
 </div>

<app-android> </app-android>

<!--ng-content-->

<div>
  <app-android> 
   <h1> Android Imported Content using ng-conent...</h1>
    </app-android>
</div>

<div>
  <app-master>  
  <h2>   Master compent Imported using ng-content </h2>
  </app-master>
</div>


